* {
    font-family: 'Noto Sans', sans-serif;
}

h1 {
    color: #29B1DD;
    font-size: 3rem;
}

button {
    border: none;
}

.bg_lightblue {
    background-color: #29B1DD;
}

.bg_lighterblue {
    background-color: #BDE9F0;
}

.weight_700 {
    font-weight: 700;
}

.bg_transparent {
    background-color: #29b0dd00;
}